# Ignore everything
*

# But not these files...
!.gitignore
!app.json
!App.tsx
!babel.config.js
!README.md
!package.json
!package-lock.json
!tsconfig.json
!metro.config.js
!eas.json

# ...and not these folders
!src/
!src/**